.new-event {
	position: fixed;
	right: 5%;
	bottom: 10%;
	z-index: 1;
}

.off-shelf{
	width: 10px;
	height: 10px;
	text-shadow: 0.1em 0.1em 0.15em #333; 
}

.on-shelf{
	width: 10px;
	height: 10px;
	text-shadow: rgba(255, 255, 255, .5) 1px 1px, 
    yellow 2px 3px, 
    rgba(255, 153, 0, .7) 3px 6px,
    rgba(255, 0, 0, .5) 4px 8px; 
}

.uncertain {
	width: 10px;
	height: 10px;
	color: black; 
	text-shadow: 2px 2px; 
}
